<div id="mega">
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="admin@ipmega.in">admin@ipmega.in</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 99767 86607</span></i>
      </div>
  
      <div class="cta d-none d-md-flex align-items-center ">
        <a href="#about" class="scrollto">Get Started</a>
      </div>
    </div>
  </section>
  
  <!-- ======= Header ======= -->
  <div id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <div class="logo" style="height: 70px; transition: all 0.5s; z-index: 997; background: #fff;">
        <h1><a href="index.html" style="color: #635551; text-decoration: none; font-size: 28px;
          font-weight: 700; margin: 0%; line-height: 0;">IP MEGA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="#signin">SignIn</a></li>
          <li><a class="nav-link scrollto" href="#signin">SignUp</a></li>

        </ul>
        <i class="bi  mobile-nav-toggle bi-list"></i>
        <!-- <div class="nav-item dropdown">
            <i class="bi  mobile-nav-toggle bi-list"></i>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link scrollto" href="#hero">Home</a></li>            
            <li><a class="nav-link scrollto" href="#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          </ul>
        </div> -->
        
      </nav><!-- .navbar -->
  
    </div>
  </div><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url(assets/img/hero_bg.jpg);">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to IP MEGA</h1>
      <h2>Our Solutions Quality will make your business simple and easy</h2>
      <div class="d-flex align-items-center">
        <i class="bi bi-arrow-right get-started-icon"></i>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->
  
  <div id="main">
  
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
  
        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why Choose Ipmega for your company website?</h3>
              <p>
                Ipmega is a Information Technology & Information Technology Enabled Services company in India. Innovazi having clients in almost all the sectors across the world, we done number of government and private companies projects in IT and ITES.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bi bi-chevron-compact-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-receipt"></i>
                    <h4>Clients</h4>
                    <p>Our approach to the delivery of information systems is based on a partnership with client firms. We focus on operational requirements, economic considerations and scheduling constraints.
  </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-box-fill"></i>
                    <h4>Mission</h4>
                    <p>Ipmega is dedicated to providing the people, services and solutions our clients need to meet their information technology challenges and business goals. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-images"></i>
                    <h4>Vision</h4>
                    <p> To help our clients meet their goals through our people, services and solutions.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Why Us Section -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">
  
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right"
          style="background-image: url(assets/img/about-img.jpg);">
            <a href="#" class="glightbox play-btn mb-4"></a>
          </div>
  
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About us</h4>
            <h3 data-aos="fade-up">Ipmega is an Information Technology</h3>
            <p data-aos="fade-up">Ipmega having clients in almost all the sectors across the world, we done number of government and private companies projects in IT & ITES</p>
  
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-fingerprint"></i></div>
              <h4 class="title"><a href="">Our Business Philosophy</a></h4>
              <p class="description">We at Ipmega work in partnership with our clients to create solutions that build tangible long term value for brands, business and culture for them. We deliver solutions that go beyond meeting customer expectations helping them succeed in a constantly changing and challenging biz world. Our fundamental company values stem from understanding that our success is tied with success of our clients.</p>
            </div>
  
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-gift"></i></div>
              <h4 class="title"><a href="">Our key business principles are</a></h4>
              <p class="description"> Understand Clients Needs,Earn Clients Trust and Confidence,Earn Clients Trust and Confidence
  Being IT Business at Innovazi has a strong team of skilled experienced IT experts; Our Domain expertise and technological ability pan a very broad spectrum, some of our business verticals</p>
            </div>
  
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-mortarboard"></i></div>
              <h4 class="title"><a href="">Information Technology Services</a></h4>
              <p class="description">Industrial Automtion software's,
  Application & Software Development,
  Web Design, Development & Customized Web solutions,
  Enterprise Resource Planning (ERP), CRM Software, Inventory excreta,
  Hardware and Networking services,
  SEO - Search Engine Optimization.</p>
            </div>
  
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->
  
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container aos-init aos-animate" data-aos="fade-up">
  
        <div class="clients-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/yam.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </section><!-- End Clients Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>   Experience a Powerful Online Presence - Are you looking for attractive and effective web design? Ipmega as a leading Web Designing Companies in India, offers Web Development, e-Commerce Website Design and Development, Website Maintenance and SEO for clients all over the world. With a team of highly skilled professionals, we have catered to various Corporate and Small Business Enterprises for their Website Design and SEO requirements with a customized attitude. </p>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Web Design </a></h4>
              <p class="description"><ul>
                                <li>Custom Logo designing</li>
                                <li>Website Domain Registration</li>
                                <li>Corporate Website designing</li>
                                <!-- <li>E-Commerce Website designing</li> -->
                                </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Responsive Design </a></h4>
              <p class="description"><ul>
                                <li>Logo re-creation designing</li>
                                <li>Website Domain Registration</li>
                                <li>Corporate Website re designing</li>
                                <!-- <li>E-Commerce Website re designing</li> -->
                                </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Web Optimization </a></h4>
              <p class="description"><ul>
                                <li>SEO</li>
                                <li>Digital Marketing</li>
                                <li>Online Lead Generation</li>
                                <li>User experience design</li>
                            </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Web Development </a></h4>
              <p class="description"><ul>
                                <li>Hotel Website Development</li>
                                <li>Job Portal Website Development</li>
                                <li>Travel Portal Website Development</li>
                                <!-- <li>Ecommerce Website Development</li> -->
                            </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Branding Concept </a></h4>
              <p class="description"><ul>
                                <li>Logo design</li>
                                <li>Concept design</li>
                                <li>User experience design</li>
                                <li>Design direction</li>
                            </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Windows Application </a></h4>
              <p class="description"><ul>
                                <li>Payroll development</li>
                                <li>Stock Maintenance development</li>
                                <li>Billing development</li>
                                <!-- <li>Industrial Automation development</li>-->
                              </ul> 
              
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Services Section -->
  
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
      <div class="container">
  
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(assets/img/values-1.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Ip Mega is dedicated to providing the people, services and solutions our clients need to meet their information technology challenges and business goals.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(assets/img/values-2.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                <p class="card-text">Our Solutions Quality will make your business simple and easy.</p>

                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
  
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card" style="background-image: url(assets/img/values-3.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">To help our clients meet their goals through our people, services and solutions .</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card" style="background-image: url(assets/img/values-4.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Care</a></h5>
                <p class="card-text">We at Ip mega work in partnership with our clients to create solutions that build tangible long term value for brands, business and culture for them.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Values Section -->
  
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" style="background-image: url(assets/img/testimonials-bg.jpg);">
      <div class="container position-relative" data-aos="fade-up">
  
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
  
            <div class="swiper-slide">
              <div class="testimonial-item active">
                <img src="assets/img/1.jpg" class="testimonial-img" alt="">
                <h3>Services</h3>
               
                <p>
                  <!-- <i class="bi bi-quote quote-icon-left"></i> -->
                  Marketing specialists claim that surfing visitors will form an impression of an online business within a few seconds, so it is vital that the information, text, and image presentation are of the highest quality. If your pages do project a professional image, your prospective visitors will trust they are dealing with a legitimate business and go on to explore your products and services deeper.
                  <!-- <i class="bi bi-quote quote-icon-right"></i> -->
                </p>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials-bg.jpg" class="testimonial-img" alt="">
                <h3>Website Redesign</h3>
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  e offer various dynamic and interactive web solutions that range over diverse websites like matrimony, job sites, travel portal and online hotel management web portal and other businesses. We focus on rendering innovative and user-friendly services.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials-bg.jpg" class="testimonial-img" alt="">
                <h3>SEO Service</h3>
               
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  SEO actually helps a business grow - provided the techniques adopted are effective and the design is simple and attractive. Webrex provides the best support for such creative designing, thereby making the sites interesting and increasing the traffic. Websites need to be built in the best effective way possible for SEO.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials-bg.jpg" class="testimonial-img" alt="">
                <h3>Web Development</h3>
              
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We provide and end-to-end solutions for all your web development needs. Website Design and Web Development is so important to that of human eyes. Just a static website without dynamic elements would just be a show case. On the other hand a very good dynamic website without a clean and professional design would not have a good reach. So in short both web design and web development needs to be taken care very seriously. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials-bg.jpg" class="testimonial-img" alt="">
                <h3>Testing</h3>
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We focus on defect prevention by designing test strategies around the entire development life cycle and implementing optimized test plans. We have a responsive and agile mindset that provides a focused "will succeed" approach to each engagement resulting in customer satisfaction and repeat business.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
  
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </section>
    <!-- Sign in and Sign up form-->
    <div class="body" id="signin">
      <div class="main1">  	
        <input type="checkbox" id="chk" aria-hidden="true">
          <div class="signup">
            <form [formGroup]="signupForm" >
              <label for="chk" class="signlabel" aria-hidden="true">Sign up</label>
              <input type="text"class="signinput" name="txt" placeholder="Username" formControlName="userName">
          
              <input type="email"class="signinput" name="email" placeholder="Email" formControlName="email">
              
              <input type="password" class="signinput" name="pswd" placeholder="Password" formControlName="pwd">
              
              <button class="signbutton" (click)="signupData()">Sign up</button>
            </form>
          </div>
      
          <div class="login">
            <form [formGroup]="loginForm">
              <label for="chk" class="signlabel" aria-hidden="true">Login</label>
              <input type="email" class="signinput" name="email" placeholder="Email" formControlName="loginEmail">

              <input type="password" class="signinput" name="pswd" placeholder="Password" formControlName="loginPwd">
              
              <button class="loginbutton">Login</button>
            </form>
          </div>
      </div>
      </div>


    <!-- End of the sign in and sign up-->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up">Contact</h2>
            <p data-aos="fade-up"></p>
          </div>
  
          <div class="row justify-content-center">
  
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
              <div class="info-box">
                <i class="bi bi-map"></i>
                <h3>Our Address</h3>
                <p>5/42,Nesavalar Street,<br>Surandai-627 859.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>admin@ipmega.in</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
              <div class="info-box">
                <i class="bi bi-phone"></i>
                <h3>Call Us</h3>
                <p>+91 99767 86607</p>
              </div>
            </div>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="col-xl-9 col-lg-12 mt-4">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </div><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <div id="footer">
  
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>IP MEGA</h3>
              <p>
               5/42,Nesavalar Street,<br>Surandai-627 859.<br>
                <strong>Phone:</strong>+91 99767 86607<br>
                <strong>Email:</strong> admin@ipmega.in<br>
              </p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Home</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">About us</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Services</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bi bi-chevron-compact-right"></i> <a href="#">Marketing</a></li>
                
              </ul>
            </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Ipmega Web Development Company</h4>
              <p>To help our clients meet their goals through our people, services and solutions .</p>
              <form action="" method="">
                <input type="email" name="email"><input type="submit" href="#" value="Subscribe">
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-lg-flex py-4">
  
        <div class="me-lg-auto text-center text-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>ipmega</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/ -->
            Designed by <a href="https://www.yameecluster.com" target="_blank">Yamee Cluster</a>
          </div>
        </div>
        <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
    </div>
    </div>